.leftbox {
    float: left;
    top: 0%;
    bottom: 0%;
    left: 0%;
    position: absolute;
    width: 20%;
    height: 100%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119,119,119,.5);
    border: .1em solid #fff;
}
nav a {
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.4em;
    display: block;
    transition: all .3s ease-in-out;
}
nav a:hover {
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
}
nav a:first-child {
    margin-top: 7px;
}
nav a.active {
    color: #10ac84;
}
.rightbox {
    width: 60%;
    margin-left: 37%;
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: #050505;
    font-size: 2.99rem;
    margin-top: 15%;
    margin-bottom: 0px;
    margin-left: -25%;
}
.addAddress a{
    font-family: "Montserrat", sans-serif;
    padding: 2rem 9%;
    position: fixed;
    top: -5%; left: 20%; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-color: #050505;
    letter-spacing: 0.1em;
    color: #3002d8;
    font-size: 1.31em;
    display: block;
    margin-top: 5%;
    transition: all .3s ease-in-out;
}
.savedAddress{
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 2rem;
    margin-left: -25%;

    /* position: fixed;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
} */
}