
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {

    --green: #16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow: .5rem .5rem 0 rgba(22,160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0,0, 0, .2);
    --border: .2rem solid var(--green);
}
* {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {

    padding: 2rem 9%;
}

section:nth-child(even) {

    background: #f5f5f5;
}

.heading {

    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {

    text-transform: uppercase;
    color: var(--green);
}


.btn {

    margin-top: 1rem;
    padding: 1rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 3rem;
}

.btn span {

    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}

.btn:hover {

    background: var(--green);
    color: #fff;
}
.btn:hover span {

    color: var(--green);
    background: #fff;
    margin-left: 1rem;
}

.header {

    padding: 2rem 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo {

    font-size: 2.5rem;
    color: var(--black);
}
.header .logo i {

    color: var(--green);
}
.header .navbar a {

    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem
}
.header .navbar a:hover {

    color: var(--green);
}
#menu-btn {

    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
.home {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    padding-top: 10rem;
}

.home .image {

    flex: 1 1 55rem;
}

.home .image img {

    width: 100%;
}

.home .content {

    flex: 1 1 45rem;
}
.home .content h3{

    font-size: 5.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}
.home .content p{

    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container {

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {

    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i {

    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3 {

    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem, 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p {

    font-size: 1.7rem;
    color: var(--light-color);
    padding-bottom: .5rem, 0;
    text-shadow: var(--text-shadow);
}

.services .box-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.services .box-container .box {

    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}

.services .box-container .box i {

    color: var(--green);
    font-size: 5rem;
}
.services .box-container .box h3 {

    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem, 0;
}
.services .box-container .box p {

    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}
/* @media (max-width:991px) {

    html {

        font-size: 55%;
    }
    .header {

        padding: 2rem;
    }

}
@media (max-width:768px) {

    #menu-btn {

        display: initial;
    }
    .header .navbar{

        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        background: #fff;
    }
}
@media (max-width:450px) {

    html {

        font-size: 50%;
    }
} */